*.dds filter=lfs diff=lfs merge=lfs -text
*.ogf filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.omf filter=lfs diff=lfs merge=lfs -text
*.anm filter=lfs diff=lfs merge=lfs -text
*.thm filter=lfs diff=lfs merge=lfs -text

*.dds !text !filter !merge !diff
*.ogf !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.omf !text !filter !merge !diff
*.anm !text !filter !merge !diff
*.thm !text !filter !merge !diff
